*{
    padding: 0;
    margin: 0;
}
main{
    background-image: url(/image/Instapage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:fit-content;
    padding-bottom: 150px; 
    background-position: center;  
}
img{
    margin-left:5rem;
    height:1.3rem;   
}

.sections{
    padding-left: 90px;
    margin-top: 190px;
}

@media (max-width:622px) {
    img{
        margin-left:0;
        height:1.3rem;   
    }
    .sections{
        padding: 10px;

    }
}


@media (max-width:560px) {
    p, h1{
        display: inline;
        margin-bottom: 20px;
    }
}